<!-- Meta Tags -->
<title>Node Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name=author content="Brady Sheridan" />
<meta name=description content="     u kno     "/>

<!-- Geotag -->
<meta name="geo.region" content="US-WI" />
<meta name="geo.placename" content="Madison" />
<meta name="geo.position" content="43.075124;-89.38639" />
<meta name="ICBM" content="43.075124, -89.38639" />

<!-- Vendor assets -->
<script src="https://code.jquery.com/jquery-1.12.3.js" integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc=" crossorigin="anonymous"></script>

<!-- Custom assets -->
<link href="../css/main.css" rel="stylesheet" />
<script src="../js/main.js" type="text/javascript"></script>
