<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>
  <script src="https://cdn.dwolla.com/1/dwolla.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

  <button type="button" onclick="generateCredentials()">Generate Credentials</button>
  <button type="button" onclick="exchangeToken()">Exchange Token</button>
  <button type="button" onclick="generateIAVToken()">GenerateIAVToken</button>
  <button type="button" onclick="testDwolla()">Test Dwolla API</button>
    <button type="button" onclick="runIAV()">Run IAV</button>
  <div id="iavContainer"></div>
  <!-- <form>
    <div>
      <label>Routing number</label>
      <input type="text" id="routingNumber" placeholder="222222226" />
    </div>
    <div>
      <label>Account number</label>
      <input type="text" id="accountNumber" placeholder="account number" />
    </div>
    <div>
      <label>Bank account name</label>
      <input type="text" id="name" placeholder="name" />
    </div>
    <div>
      <select name="type" id="type">
        <option value="checking">checking</option>
        <option value="savings">savings</option>
      </select>
    </div>
    <div>
      <input type="submit" value="Add Bank">
    </div>
  </form> -->

  <div id="logs">
  </div>

</body>

<script>
var code = <%- JSON.stringify(code) %>
</script>

<script type="text/javascript">
var userToken;
var access_token;
var iav_token = '';
//var code = <%= code %>

console.log("Code: " + code);


$('form').on('submit', function() {
  if(access_token == null){
    console.log("User token is null");
  } else {
    console.log("User token isn't null")
  }
  //dwolla.configure('uat');
  console.log("DWOLLA, " + JSON.stringify(dwolla));
  var token = access_token;
  var bankInfo = {
    accountNumber: $('#accountNumber').val(),
    routingNumber: $('#routingNumber').val(),
    type: $('#type').val(),
    name: $('#name').val()
  }
  console.log(iav_token);
  dwolla.configure('uat');
  dwolla.iav.start('iavContainer', iav_token, function(err, res) {
      //console.log('Error: ' + JSON.stringify(err) + ' -- Response: ' + JSON.stringify(res))
    })  ;
  //dwolla.fundingSources.create(token, bankInfo, callback);

  return false
})

function runIAV(){
  console.log(iav_token);
  //newTemp = iav_token.replace(/"/g, '\'');
  dwolla.configure('sandbox');
  //dwolla.config.dwollaUrl = 'https://uat.dwolla.com';
  dwolla.iav.start(iav_token, {
    container: 'iavContainer',
    microDeposits: false,
    fallbackToMicroDeposits: true
  }, function(err, res) {
    console.log('Error: ' + JSON.stringify(err) + ' -- Response: ' + JSON.stringify(res));
  });
}
function generateIAVToken(){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
    var iav = xhttp.responseText.slice(1, -1);
    dwolla.configure('sandbox');
    //dwolla.config.dwollaUrl = 'https://uat.dwolla.com';
    dwolla.iav.start(iav, {
      container: 'iavContainer',
      microDeposits: false,
      fallbackToMicroDeposits: true
    }, function(err, res) {
      console.log('Error: ' + JSON.stringify(err) + ' -- Response: ' + JSON.stringify(res));
    });
  }
  };
  xhttp.open("GET", "iavToken", true);
  xhttp.send();
}
function generateToken(){
  console.log("Working");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
    userToken = xhttp.responseText;
    console.log(userToken)
  } else {

  }
  };
  xhttp.open("GET", "simpleListen", true);
  xhttp.send();
/*window.open(
  oAuthUrl,
  '_blank' // <- This is what makes it open in a new window.
);*/
}

//Function for exchanging a session token
function exchangeToken(){
  if(code != null && code != "undefined"){
    console.log("Beginning Token Exchange with Dwolla API - https://uat.dwolla.com/oauth/v2/token");
    console.log("Code is : " + code);
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == 4 && xhttp.status == 200) {
      message = xhttp.responseText;
      access_token = message;
      console.log(message)
    } else{
      console.log(xhttp.responseText);
    }
    };
    xhttp.open("GET", "exchangeToken?code=" + code, true);
    xhttp.send();
  } else {
    console.log("There is no code variable. Code is: " + code);
  }

}

//Function for generating Credentials
function generateCredentials(){
  var baseUrl = "https://uat.dwolla.com/oauth/v2/authenticate?client_id=",
    clientID = 'kPEAtEMhkbo3a40CtKeK0l8kQo1WZcorA3KKm9fttLKI7WeXTp',
    responseAndRedirect = "&response_type=code&redirect_uri=",
    scope = "send|transactions|funding|managecustomers",
    uri = 'http://localhost:3000/dwollaView',
    authScope = "&scope=ManageCustomers%7CSend%7CFunding%7CScheduled%7CTransactions";
var oAuthUrl= baseUrl + encodeURI(clientID + responseAndRedirect + uri) + authScope;
window.location.href = oAuthUrl;
}

//Function for testing Dwolla
function testDwolla(){
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
    stuff= xhttp.responseText;
    console.log(stuff)
  } else{
    //console.log(xhttp.responseText);
  }
  };
  xhttp.open("GET", "dwollaTestView", true);
  xhttp.send();
}

function callback(err, res) {
  $div = $('<div />')
  var logValue = {
    error: err,
    response: res
  }
  $div.text(JSON.stringify(logValue))
  console.log(logValue)
  //console.log(JSON.stringify(logValue.res));
  $('#logs').append($div)
}
</script>
</html>
