<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>

</head>
<body>

  <div class="index-wrap">
    <h3 style="color:#FFF;text-align:center;">Welcome to the Node.js template app!</h3>
    <a style="text-align:center;" href="/xyz"><h5>Send a POST request</h5></a>
    <a style="text-align:center;" href="/dwollaView"><h5>Test DwollaView</h5></a>
  </div>

</body>
</html>
