<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>

</head>
<body>

  <div class="index-wrap">
    <h3 style="color:#FFF;text-align:center;">Send a POST request</h3>

    <form action="/post" method="POST" style="text-align:center;color:#fff;">
      <p>
        Enter a message:<br /><br />
        <input type="text" name="message" />
      </p>
      <p>
        <input type="submit" />
      </p>
    </form>
  </div>

</body>
</html>
