<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>829774165704-36fsk071tgi117ti71fmp2e66me6s0fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829774165704-36fsk071tgi117ti71fmp2e66me6s0fm</string>
	<key>API_KEY</key>
	<string>AIzaSyCX4CSkF9OfstTMPrFa-QULHCwypBHzgXA</string>
	<key>GCM_SENDER_ID</key>
	<string>829774165704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.getpayper.getpayper</string>
	<key>PROJECT_ID</key>
	<string>payperv2-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>payperv2-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:829774165704:ios:7a3945e96451e027</string>
	<key>DATABASE_URL</key>
	<string>https://payperv2-dev.firebaseio.com</string>
</dict>
</plist>